.header {
    width: 100vw;
    background-color: var(--secondary-color);
    top: 0;
    text-align: center;
    padding: 0.5rem 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    background-color: var(--primary-color);
}

.top-section{
    background-image: url(/img/bg.png);
    background-size: cover;
    height: 25vh;
    position: relative;
    width: 100vw;
    transform: translateY(-30px);

}

.top-section-text {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(50px);
    text-align: center;
}

