.header {
    display: none;
    width: 100vw;
    height: 3.1875rem;
    background-color: var(--secondary-color);
    top: 0;
}

.header.active {
    display: block;
}

.header-text {
    font-family: Dancing Script, sans-serif;
    color: #965a00;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 0.5rem 0;
}

.container {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 100vw;
    height: 60rem;
    background-color: var(--primary-color);
}


.top-section{
    background-image: url(/img/bg.png);
    background-size: cover;
    height: 25vh;
    width: 100vw;
    transform: translateY(-30px);
    margin-top: -1.7rem;

}

.top-section-text {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(50px);
    text-align: center;
}

.font-home {
    font-family: Caladea, sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

.top-section-text h1 {
    padding-top: 1rem;
    letter-spacing: 0.5rem;
}

.wrapper-date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    height: 20rem;
    background-color: var(--secondary-color);
}

.wrapper-date img {
    position: absolute;
    transform: translateY(-185%);
}

.wrapper-sub {
    border: solid 0.1rem #BB9096;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;    
}

.wrapper-sub h3{
    font-family: Dancing Script, sans-serif;
    color: #965a00;
    font-weight: 400;
    margin-top: 3rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 1rem;
    font-size: 0.8rem;
    font-family: Caladea, sans-serif;
    font-weight: 400;
}

span {
    margin-left: 1.5rem;
    font-size: 0.9;
}

.text-container p:nth-child(1)::before {
    content: url(img/bi_calendar-date.svg);
    margin-right: 5px;
    height: 1em;
}

.text-container p:nth-child(2):before {
    content: url(img/ic_outline-access-time.svg);
    margin-right: 5px;
    height: 1em;
}

.text-container p:nth-child(3):before {
    content: url(img/ic_outline-place.svg);
    margin-right: 5px;
    height: 1em;
}


.btn-home {
    width: 13em;
    height: 3em;
    font-family: Roboto, sans-serif;
    font-size: var(--text-sm);
    color: #ffffff;
    background-color:#B95C50 ;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}


