* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fedef3;
}

h1 {
    color: #B95C50;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: Caladea, sans-serif;
}

.nama-mempelai {
    position: absolute;
    font-family: Dancing Script, sans-serif;
    font-size: 2.2rem;
    color: #965A00;
    font-weight: 400;
}

.btn {
    width: 20vw;
    height: 10vh;
    border-radius: 5rem;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
    background-color:#B95C50 ;
    cursor: pointer;
    border: none;
}

