
:root {
    --primary-color: #deb3ad;
    --secondary-color: #fedef3;
    --button-color: #b95c50;

    --text-sm:	font-size: 0.875rem; /* 14px */
    --text-base:font-size: 1rem; /* 16px */
    --text-lg:	font-size: 1.125rem; /* 18px */


}


html {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cover-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fedef3;
    overflow: hidden;
}

.title {
    color: #B95C50;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Caladea, sans-serif;
    margin-top: 7.165rem;
    margin-bottom: 0.875rem;
}

.wrapper-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nama-mempelai {
    position: absolute;
    font-family: Dancing Script, sans-serif;
    font-size: 2.25rem;
    color: #965A00;
    font-weight: 400;
    transform: translateY(-1.25rem); 
}

.flower {
    position: relative;
}
.btn {
    width: 10rem;
    height: 7vh;
    font-family: Roboto, sans-serif;
    font-size: var(--text-sm);
    color: #ffffff;
    background-color:#B95C50 ;
    cursor: pointer;
    border: none;
    margin-top: 4.5rem;
    margin-bottom: 5.3125rem;
}

/* .animation {
    animation: slideIn 2s;
} */



@keyframes slideIn {
    0% {
        transform: translateX(-101vw);
    }

    100% {

        transform: translateX(0);
    }
    
}

